Gateway/Node-RED.json
[{"id":"b553000d.f0e5f","type":"tab","label":"Recepción - Base de datos","disabled":false,"info":""},{"id":"3041ddb.0b1c522","type":"tab","label":"Estado de la red","disabled":false,"info":""},{"id":"aeeef631.c47298","type":"tab","label":"Interior","disabled":false,"info":""},{"id":"9de00e60.77869","type":"tab","label":"Exterior","disabled":false,"info":""},{"id":"cc7d5fff.1afeb","type":"tab","label":"Depósito","disabled":false,"info":""},{"id":"d8e60713.1e16d8","type":"tab","label":"Climatizador","disabled":false,"info":""},{"id":"e14ab7eb.c28038","type":"tab","label":"Panel de control","disabled":false,"info":""},{"id":"204ea434.a3c19c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":15,"gy":15,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cefe1e20.25dc7","type":"ui_spacer","name":"spacer","group":"1bed6a84.efc215","order":1,"width":1,"height":1},{"id":"e510fa17.5b5da8","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"2b2fd08.f66553","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"7c340e06.f7633","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"ca979d68.580ac","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"8dcae277.448a1","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"eb265f59.0ae13","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"2f647493.e2916c","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"c38d060f.db12c8","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"7230e73e.4196d8","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"3007f504.4491ea","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"266368c9.825458","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"6a6710f8.9ca5","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"a05a6bd9.1c1178","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"44afa51d.e0c66c","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"0","height":"0"},{"id":"5254ad6d.efced4","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"6fc3a21.077635c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"126d548e.7965cb","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"4f22e6b8.17e1b8","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"4dff0822.132a48","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"786fe2f5.ebaa4c","type":"ui_spacer","name":"spacer","group":"","order":1,"width":5,"height":1},{"id":"8f9c1574.8a2ec8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"d2c9f04a.a22e3","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"3d1784c1.47873c","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"f8c11a2e.457168","type":"ui_spacer","name":"spacer","group":"","order":14,"width":1,"height":1},{"id":"164b87a8.24aba8","type":"ui_spacer","name":"spacer","group":"","order":16,"width":3,"height":1},{"id":"a042ca9d.effdd8","type":"ui_spacer","name":"spacer","group":"","order":18,"width":2,"height":1},{"id":"36b7d102.46d64e","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"2f80b773.bc4e78","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"20bc6473.f560bc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"702a94fe.bc563c","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"4570322c.8865ac","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"53788acc.f0f4b4","type":"ui_spacer","name":"spacer","group":"","order":4,"width":8,"height":1},{"id":"8a9c8339.9dc51","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"f27d7a57.3fc168","type":"ui_spacer","name":"spacer","group":"","order":10,"width":8,"height":1},{"id":"de25cd4d.a9eb","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"dad84fed.27058","type":"ui_spacer","name":"spacer","group":"","order":13,"width":2,"height":1},{"id":"d061d5a9.6848a8","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"8d5d5510.3c36e8","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"cf645d24.e2821","type":"ui_spacer","name":"spacer","group":"","order":17,"width":8,"height":1},{"id":"1ae7dab2.a2ff85","type":"ui_spacer","name":"spacer","group":"","order":18,"width":1,"height":1},{"id":"dab6021e.91289","type":"ui_spacer","name":"spacer","group":"","order":20,"width":2,"height":1},{"id":"f1488862.411918","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"55297efe.5a99","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"9eb2b476.076ed8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"b50350fd.7cfbe","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"9773eb79.ecc018","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"330d1423.c8705c","type":"ui_spacer","name":"spacer","group":"","order":11,"width":12,"height":1},{"id":"10c5316a.6672cf","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"494a1ad5.bb12d4","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"4bdbec25.5dfaa4","type":"ui_spacer","name":"spacer","group":"","order":16,"width":1,"height":1},{"id":"f8cbe5f4.bb58c8","type":"ui_spacer","name":"spacer","group":"","order":18,"width":3,"height":1},{"id":"96b00c4b.aa084","type":"ui_spacer","name":"spacer","group":"","order":20,"width":2,"height":1},{"id":"36c438b2.4907e8","type":"ui_spacer","name":"spacer","group":"","order":21,"width":12,"height":1},{"id":"e7f9ea8f.332298","type":"ui_spacer","name":"spacer","group":"","order":22,"width":2,"height":1},{"id":"37a489cd.fac216","type":"ui_spacer","name":"spacer","group":"","order":24,"width":1,"height":1},{"id":"5ff8bf1f.eb703","type":"ui_spacer","name":"spacer","group":"","order":26,"width":1,"height":1},{"id":"99ca8c4.77b7a7","type":"ui_spacer","name":"spacer","group":"","order":27,"width":2,"height":1},{"id":"116d4c8f.017373","type":"ui_spacer","name":"spacer","group":"","order":29,"width":1,"height":1},{"id":"ca4217a5.9dbd08","type":"ui_spacer","name":"spacer","group":"","order":31,"width":1,"height":1},{"id":"d2e0d813.ccfc58","type":"ui_spacer","name":"spacer","group":"","order":32,"width":7,"height":1},{"id":"90e97d11.0694","type":"ui_spacer","name":"spacer","group":"","order":34,"width":1,"height":1},{"id":"d3ceb323.ba9f5","type":"ui_tab","z":"","name":"Interior","icon":"fa-rss-square","order":2,"disabled":false,"hidden":false},{"id":"d95b1535.209a28","type":"ui_group","z":"","name":"Temperatura","tab":"d3ceb323.ba9f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"42721692.8cf9d8","type":"ui_spacer","name":"spacer","group":"1bed6a84.efc215","order":1,"width":1,"height":1},{"id":"6e7fcbeb.3e8bc4","type":"ui_tab","z":"","name":"Estado de la red","icon":"fa-sitemap","order":1,"disabled":false,"hidden":false},{"id":"69ac15e5.7a667c","type":"ui_group","z":"","name":"Nodos","tab":"6e7fcbeb.3e8bc4","order":1,"disp":true,"width":13,"collapse":false},{"id":"2ede205d.93faf","type":"ui_tab","z":"","name":"Panel de control","icon":"fa-sliders","order":6,"disabled":false,"hidden":false},{"id":"f52c3564.c71a98","type":"ui_group","z":"","name":"Riego","tab":"2ede205d.93faf","order":1,"disp":true,"width":8,"collapse":false},{"id":"83408eb1.e2ac","type":"ui_group","z":"","name":"Climatización","tab":"2ede205d.93faf","order":2,"disp":true,"width":12,"collapse":false},{"id":"44634e5.51220b","type":"ui_group","z":"","name":"Humedad suelo","tab":"d3ceb323.ba9f5","order":3,"disp":true,"width":"6","collapse":false},{"id":"fc6948f6.e2f8f8","type":"ui_tab","z":"","name":"Depósito","icon":"fa-rss-square","order":4,"disabled":false,"hidden":false},{"id":"ab0d62a6.99b7d","type":"ui_tab","z":"","name":"Climatizador","icon":"fa-rss-square","order":5,"disabled":false,"hidden":false},{"id":"4cc40c37.f357e4","type":"ui_group","z":"","name":"Ventilación","tab":"ab0d62a6.99b7d","order":1,"disp":true,"width":"6","collapse":false},{"id":"f12b2a2d.d34368","type":"ui_group","z":"","name":"Humedad relativa","tab":"d3ceb323.ba9f5","order":2,"disp":true,"width":"6","collapse":false},{"id":"3e3137d.14f43c8","type":"ui_group","z":"","name":"Temperatura del agua ","tab":"fc6948f6.e2f8f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c0db3fe.7fd9dc","type":"ui_group","z":"","name":"Bomba de riego","tab":"fc6948f6.e2f8f8","order":3,"disp":true,"width":6,"collapse":false},{"id":"59d420.6e8cfbe","type":"ui_group","z":"","name":"Calefacción","tab":"ab0d62a6.99b7d","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0a029da.07eff8","type":"ui_group","z":"","name":"Refrigeración","tab":"ab0d62a6.99b7d","order":3,"disp":true,"width":"6","collapse":false},{"id":"4c87d359.b035dc","type":"ui_group","z":"","name":"Acceso a Internet","tab":"6e7fcbeb.3e8bc4","order":3,"disp":true,"width":7,"collapse":false},{"id":"80f5205a.24249","type":"influxdb","z":"","hostname":"192.168.0.172","port":"8086","protocol":"http","database":"invernadero_1","name":"","usetls":false,"tls":""},{"id":"415aa51b.0f055c","type":"ui_tab","z":"","name":"Exterior","icon":"fa-rss-square","order":3,"disabled":false,"hidden":false},{"id":"b51c6ce9.b1f66","type":"ui_group","z":"","name":"Temperatura ","tab":"415aa51b.0f055c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6d2f845.51c478","type":"ui_group","z":"","name":"Humedad relativa ","tab":"415aa51b.0f055c","order":2,"disp":true,"width":"6","collapse":false},{"id":"e763e709.7320f8","type":"ui_group","z":"","name":"Sensor de puerta","tab":"415aa51b.0f055c","order":3,"disp":true,"width":"6","collapse":false},{"id":"d56e99c9.e9ce28","type":"ui_spacer","name":"spacer","group":"b51c6ce9.b1f66","order":1,"width":2,"height":1},{"id":"3f1e141a.e7c9bc","type":"ui_spacer","name":"spacer","group":"b51c6ce9.b1f66","order":4,"width":6,"height":1},{"id":"9b58aee2.b5535","type":"ui_spacer","name":"spacer","group":"d6d2f845.51c478","order":1,"width":2,"height":1},{"id":"79a6e7bc.467798","type":"ui_spacer","name":"spacer","group":"d6d2f845.51c478","order":4,"width":6,"height":1},{"id":"39a133b7.8475dc","type":"ui_spacer","name":"spacer","group":"e763e709.7320f8","order":3,"width":"0","height":"0"},{"id":"2b51686.630fe98","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"a7471d38.ff03e","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"dad93bc9.3df458","type":"ui_spacer","name":"spacer","group":"d95b1535.209a28","order":1,"width":2,"height":1},{"id":"383432d6.178cae","type":"ui_spacer","name":"spacer","group":"d95b1535.209a28","order":4,"width":6,"height":1},{"id":"3cf761bc.f73c4e","type":"ui_spacer","name":"spacer","group":"f12b2a2d.d34368","order":1,"width":2,"height":1},{"id":"b7428567.4c6638","type":"ui_spacer","name":"spacer","group":"f12b2a2d.d34368","order":4,"width":6,"height":1},{"id":"11347735.f277b9","type":"ui_spacer","name":"spacer","group":"44634e5.51220b","order":1,"width":2,"height":1},{"id":"fcf136b5.123e78","type":"ui_spacer","name":"spacer","group":"44634e5.51220b","order":4,"width":6,"height":1},{"id":"7dbf0721.76a1e8","type":"ui_spacer","name":"spacer","group":"4cc40c37.f357e4","order":3,"width":1,"height":1},{"id":"684bea65.43c4b4","type":"ui_spacer","name":"spacer","group":"4cc40c37.f357e4","order":4,"width":6,"height":1},{"id":"d14e9bc6.b334e8","type":"ui_spacer","name":"spacer","group":"59d420.6e8cfbe","order":3,"width":1,"height":1},{"id":"d8fdf2c4.18c1b","type":"ui_spacer","name":"spacer","group":"59d420.6e8cfbe","order":4,"width":6,"height":1},{"id":"87daf71d.4b5ae8","type":"ui_spacer","name":"spacer","group":"e0a029da.07eff8","order":3,"width":1,"height":1},{"id":"20f36b00.878db6","type":"ui_spacer","name":"spacer","group":"e0a029da.07eff8","order":4,"width":6,"height":1},{"id":"f16a66ac.95e738","type":"ui_spacer","name":"spacer","group":"3e3137d.14f43c8","order":1,"width":2,"height":1},{"id":"b2b6e8c6.ac61d8","type":"ui_spacer","name":"spacer","group":"3e3137d.14f43c8","order":4,"width":6,"height":1},{"id":"44b33c0f.9a7404","type":"ui_spacer","name":"spacer","group":"c0db3fe.7fd9dc","order":3,"width":1,"height":1},{"id":"5584e147.ad185","type":"ui_spacer","name":"spacer","group":"c0db3fe.7fd9dc","order":4,"width":6,"height":1},{"id":"9162a501.197ed8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bcead78.8dd902","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":1,"width":1,"height":1},{"id":"546ab8fa.a2aa48","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":4,"width":8,"height":1},{"id":"4e42fe44.7f751","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":7,"width":1,"height":1},{"id":"d6db6d9a.0f70d","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":10,"width":8,"height":1},{"id":"e9a9a0e2.7754e","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":11,"width":2,"height":1},{"id":"ef1f01a0.ec87b","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":13,"width":2,"height":1},{"id":"44bae684.d3ce58","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":14,"width":2,"height":1},{"id":"a9d74005.3c0e8","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":16,"width":2,"height":1},{"id":"4df78941.e6bb28","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":17,"width":8,"height":1},{"id":"d22b306c.44eb2","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":18,"width":1,"height":1},{"id":"236fff7a.42a31","type":"ui_spacer","name":"spacer","group":"f52c3564.c71a98","order":20,"width":2,"height":1},{"id":"7527e509.517d7c","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":1,"width":4,"height":1},{"id":"204004ec.f02b3c","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":3,"width":2,"height":1},{"id":"d9b07b19.d5b008","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":4,"width":1,"height":1},{"id":"5ee4474e.c9a498","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":7,"width":1,"height":1},{"id":"5f2cf9b1.91dfb8","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":11,"width":1,"height":1},{"id":"2253e048.1468b","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":13,"width":1,"height":1},{"id":"c9349368.ce33c","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":15,"width":1,"height":1},{"id":"d1d5e5be.bb2228","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":16,"width":12,"height":1},{"id":"12923458.d5cfdc","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":17,"width":4,"height":1},{"id":"e1072844.a028e8","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":19,"width":2,"height":1},{"id":"36f4918b.8cf43e","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":20,"width":1,"height":1},{"id":"a068e2ef.95f8c","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":23,"width":2,"height":1},{"id":"98dc201c.e7541","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":26,"width":1,"height":1},{"id":"e66191bd.c43cd","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":27,"width":2,"height":1},{"id":"5e735a42.3f35a4","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":29,"width":2,"height":1},{"id":"6baf1fa8.0f616","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":31,"width":2,"height":1},{"id":"63dde4ac.9f998c","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":32,"width":12,"height":1},{"id":"7406baf9.7484e4","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":33,"width":2,"height":1},{"id":"d4795587.6f86e8","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":35,"width":1,"height":1},{"id":"179f8d70.a8c4a3","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":37,"width":1,"height":1},{"id":"4130fd06.6b5734","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":38,"width":2,"height":1},{"id":"a104f9ef.b64088","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":40,"width":1,"height":1},{"id":"6e367b1c.95e904","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":42,"width":1,"height":1},{"id":"70845b7f.fcf7b4","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":43,"width":7,"height":1},{"id":"14b51c14.f9b144","type":"ui_spacer","name":"spacer","group":"83408eb1.e2ac","order":45,"width":1,"height":1},{"id":"f44e4f53.28bc1","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":1,"width":5,"height":1},{"id":"9dde0f99.62cd2","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":3,"width":1,"height":1},{"id":"7ed9ec2f.145624","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":8,"width":1,"height":1},{"id":"8357a8c1.1d1e28","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":12,"width":1,"height":1},{"id":"3a4b6f90.505f9","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":16,"width":1,"height":1},{"id":"ee3c6aae.53a658","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":20,"width":1,"height":1},{"id":"a3f04eef.6a534","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":21,"width":2,"height":1},{"id":"451ff812.62d538","type":"ui_spacer","name":"spacer","group":"69ac15e5.7a667c","order":23,"width":1,"height":1},{"id":"21707ca.ef6d984","type":"ui_spacer","name":"spacer","group":"4c87d359.b035dc","order":4,"width":7,"height":1},{"id":"e58ed345.268f6","type":"ui_spacer","name":"spacer","group":"4c87d359.b035dc","order":5,"width":1,"height":1},{"id":"e2fbae0a.e1173","type":"ui_spacer","name":"spacer","group":"4c87d359.b035dc","order":7,"width":1,"height":1},{"id":"d11fe15.bbefb2","type":"ui_spacer","name":"spacer","group":"4c87d359.b035dc","order":8,"width":1,"height":1},{"id":"249c6b97.c7fc84","type":"ui_spacer","name":"spacer","group":"4c87d359.b035dc","order":10,"width":1,"height":1},{"id":"e565a38.cb2e56","type":"mqtt out","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/deposito","qos":"2","retain":"true","broker":"9162a501.197ed8","x":370,"y":960,"wires":[]},{"id":"8f20998e.2cebd8","type":"link out","z":"b553000d.f0e5f","name":"","links":["e4865ccb.fd397"],"x":775,"y":60,"wires":[]},{"id":"e4865ccb.fd397","type":"link in","z":"aeeef631.c47298","name":"","links":["8f20998e.2cebd8"],"x":35,"y":280,"wires":[["99fe49e5.177448","bcdbac58.5622f"]]},{"id":"99fe49e5.177448","type":"function","z":"aeeef631.c47298","name":"Extracción Temp/Hum","func":"var tempInt = { payload: msg.payload.tempInt};\nvar humInt = { payload: msg.payload.humInt};\nreturn [tempInt, humInt];\n","outputs":2,"noerr":0,"x":260,"y":140,"wires":[["ce22a966.e6e2f8","511a7af1.c8bce4","4d2c081f.f468a8"],["8c8b0b02.8c0f88","5ef03212.fb025c","6983b3a.dfeec4c"]]},{"id":"ce22a966.e6e2f8","type":"ui_text","z":"aeeef631.c47298","group":"d95b1535.209a28","order":2,"width":2,"height":1,"name":"Temperatura interior","label":"","format":"<font color =snow size=6>{{msg.payload}}</font>","layout":"col-center","x":540,"y":120,"wires":[]},{"id":"5ef03212.fb025c","type":"ui_text","z":"aeeef631.c47298","group":"f12b2a2d.d34368","order":2,"width":2,"height":1,"name":"Humedad interior","label":"","format":"<font color =snow size=6>{{msg.payload}}</font>","layout":"col-center","x":530,"y":160,"wires":[]},{"id":"bcdbac58.5622f","type":"function","z":"aeeef631.c47298","name":"Extracción humedad suelo","func":"var humSuelo = { payload: msg.payload.humSuelo};\nreturn humSuelo;\n","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["816980c7.0375e","26a71e40.961d62","ae0ea5cb.c75798"]]},{"id":"816980c7.0375e","type":"ui_text","z":"aeeef631.c47298","group":"44634e5.51220b","order":2,"width":2,"height":1,"name":"Humedad suelo","label":"","format":"<font color =snow size=6>{{msg.payload}}</font>","layout":"col-center","x":640,"y":320,"wires":[]},{"id":"8a8c0b6e.f1e608","type":"function","z":"cc7d5fff.1afeb","name":"Extracción temperatura agua","func":"var tempAgua = { payload: msg.payload.tempAgua};\nreturn tempAgua;\n","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["cd0d878e.030658","ce232b13.76e4d8"]]},{"id":"cd0d878e.030658","type":"ui_text","z":"cc7d5fff.1afeb","group":"3e3137d.14f43c8","order":2,"width":2,"height":1,"name":"Temperatura agua","label":"","format":"<font color =snow size=6>{{msg.payload}}</font>","layout":"col-center","x":590,"y":220,"wires":[]},{"id":"ce232b13.76e4d8","type":"ui_chart","z":"cc7d5fff.1afeb","name":"","group":"3e3137d.14f43c8","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":260,"wires":[[]]},{"id":"9d4e4b3d.247db8","type":"mqtt in","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/deposito","qos":"2","datatype":"json","broker":"9162a501.197ed8","x":160,"y":360,"wires":[["332e31ce.899eee","9466e94f.1a5428"]]},{"id":"f3120d41.0b77e","type":"link out","z":"b553000d.f0e5f","name":"","links":["a95fc98e.5e11f8"],"x":755,"y":320,"wires":[]},{"id":"a95fc98e.5e11f8","type":"link in","z":"cc7d5fff.1afeb","name":"","links":["f3120d41.0b77e","b9f02c93.1f995"],"x":35,"y":280,"wires":[["8a8c0b6e.f1e608","a120af8c.2c436"]]},{"id":"67f91c7c.01f254","type":"mqtt out","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/interior","qos":"2","retain":"true","broker":"9162a501.197ed8","x":360,"y":840,"wires":[]},{"id":"33f339c.2fc30c6","type":"inject","z":"b553000d.f0e5f","name":"","topic":"","payload":"{\"id\":\"interior\",\"signal\":-67,\"mediciones\":{\"tempInt\":18.6,\"humInt\":55,\"humSuelo\":45}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["67f91c7c.01f254"]]},{"id":"a120af8c.2c436","type":"function","z":"cc7d5fff.1afeb","name":"Extracción bomba de riego","func":"var bomba = { payload: msg.payload.bomba};\nreturn bomba;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["bd47a63e.f38e68","e9135a94.62c708","69135970.e412e8","bb52435b.adbe9"]]},{"id":"bd47a63e.f38e68","type":"change","z":"cc7d5fff.1afeb","name":"Encendida/Apagada","rules":[{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"Encendida","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Apagada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["1e714005.0e1e1"]]},{"id":"1e714005.0e1e1","type":"ui_text","z":"cc7d5fff.1afeb","group":"c0db3fe.7fd9dc","order":1,"width":4,"height":1,"name":"Bomba de riego","label":"","format":"<font color =beige  size=6>{{msg.payload}}</font>","layout":"row-right","x":800,"y":360,"wires":[]},{"id":"e9135a94.62c708","type":"ui_led","z":"cc7d5fff.1afeb","group":"c0db3fe.7fd9dc","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":610,"y":320,"wires":[]},{"id":"fe072612.cc86e8","type":"mqtt in","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/climatizador","qos":"2","datatype":"json","broker":"9162a501.197ed8","x":170,"y":480,"wires":[["8ab41171.c8f1c","74085402.dd008c"]]},{"id":"95213504.d56328","type":"link out","z":"b553000d.f0e5f","name":"","links":["2ed06a89.5609c6"],"x":755,"y":440,"wires":[]},{"id":"eb3bed00.505b5","type":"mqtt out","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/climatizador","qos":"2","retain":"true","broker":"9162a501.197ed8","x":380,"y":1020,"wires":[]},{"id":"81a9dfff.e4c7b","type":"inject","z":"b553000d.f0e5f","name":"","topic":"","payload":"{\"id\":\"climatizador\",\"signal\":-54,\"mediciones\":{\"ventilacionActivada\":100,\"calefaccionActivada\":0,\"refrigeracionActivada\":0}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1020,"wires":[["eb3bed00.505b5"]]},{"id":"2ed06a89.5609c6","type":"link in","z":"d8e60713.1e16d8","name":"","links":["95213504.d56328"],"x":75,"y":500,"wires":[["5d2c2004.af43","9a450a6a.df8c48","8a1085b9.858e78"]]},{"id":"9a450a6a.df8c48","type":"function","z":"d8e60713.1e16d8","name":"Extracción ventilación","func":"var ventilacion = { payload: msg.payload.ventilacion};\nreturn ventilacion;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["515cbdcc.41b1c4","89631c1d.64298","76148ba1.d46244","45c14053.dac03"]]},{"id":"515cbdcc.41b1c4","type":"change","z":"d8e60713.1e16d8","name":"Encendida/Apagada","rules":[{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"Encendida","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Apagada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["d649243a.cba2d8"]]},{"id":"d649243a.cba2d8","type":"ui_text","z":"d8e60713.1e16d8","group":"4cc40c37.f357e4","order":1,"width":4,"height":1,"name":"Ventilación","label":"","format":"<font color =beige  size=6>{{msg.payload}}</font>","layout":"row-right","x":810,"y":260,"wires":[]},{"id":"89631c1d.64298","type":"ui_led","z":"d8e60713.1e16d8","group":"4cc40c37.f357e4","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":630,"y":220,"wires":[]},{"id":"5d2c2004.af43","type":"function","z":"d8e60713.1e16d8","name":"Extracción calefacción","func":"var calefaccion= { payload: msg.payload.calefaccion};\nreturn calefaccion;\n","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["23e929f0.291656","fb2a1aeb.00f528","a98e94cf.90eef8","aa3c48a9.b42da8"]]},{"id":"23e929f0.291656","type":"change","z":"d8e60713.1e16d8","name":"Encendida/Apagada","rules":[{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"Encendida","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Apagada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":500,"wires":[["adbd7ba7.42dcc8"]]},{"id":"adbd7ba7.42dcc8","type":"ui_text","z":"d8e60713.1e16d8","group":"59d420.6e8cfbe","order":1,"width":4,"height":1,"name":"Calefacción","label":"","format":"<font color =beige  size=6>{{msg.payload}}</font>","layout":"row-right","x":810,"y":500,"wires":[]},{"id":"fb2a1aeb.00f528","type":"ui_led","z":"d8e60713.1e16d8","group":"59d420.6e8cfbe","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":630,"y":460,"wires":[]},{"id":"8a1085b9.858e78","type":"function","z":"d8e60713.1e16d8","name":"Extracción refrigeración","func":"var refrigeracion = { payload: msg.payload.refrigeracion};\nreturn refrigeracion;","outputs":1,"noerr":0,"x":290,"y":740,"wires":[["49160c71.104124","f65e772b.42c448","211545fd.fd559a","1a1949ec.ae5436"]]},{"id":"49160c71.104124","type":"change","z":"d8e60713.1e16d8","name":"Encendida/Apagada","rules":[{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"Encendida","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Apagada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["2ad4dbd4.799234"]]},{"id":"2ad4dbd4.799234","type":"ui_text","z":"d8e60713.1e16d8","group":"e0a029da.07eff8","order":1,"width":4,"height":1,"name":"Refrigeración","label":"","format":"<font color =beige  size=6>{{msg.payload}}</font>","layout":"row-right","x":810,"y":740,"wires":[]},{"id":"f65e772b.42c448","type":"ui_led","z":"d8e60713.1e16d8","group":"e0a029da.07eff8","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":630,"y":700,"wires":[]},{"id":"971f0e97.94791","type":"link in","z":"e14ab7eb.c28038","name":"","links":["b27845d8.df2618"],"x":55,"y":200,"wires":[["8096bbc4.2f4f38"]]},{"id":"8096bbc4.2f4f38","type":"function","z":"e14ab7eb.c28038","name":"Extracción control riego","func":"var humSueloMin = { payload: msg.payload.humSueloMin};\nvar tiempoRiego = { payload: msg.payload.tiempoRiego};\nreturn [humSueloMin, tiempoRiego];\n","outputs":2,"noerr":0,"x":210,"y":200,"wires":[["23f8aae0.b0ffd6"],["357e123b.4f99ae"]]},{"id":"8a927b3a.acf898","type":"ui_text","z":"e14ab7eb.c28038","group":"f52c3564.c71a98","order":2,"width":5,"height":1,"name":"Humedad actual","label":"<font size=5>Humedad suelo</font>","format":"<font color=snow size=5>{{msg.payload}}</font>","layout":"row-spread","x":540,"y":60,"wires":[]},{"id":"c6808b99.421bf8","type":"ui_button","z":"e14ab7eb.c28038","name":"","group":"f52c3564.c71a98","order":12,"width":4,"height":1,"passthru":false,"label":"Enviar datos","tooltip":"","color":"","bgcolor":"","icon":"fa-check-square-o","payload":"{\"control\":\"riego\",\"valores\":{\"humSueloMin\":0,\"tiempoRiego\":0}}","payloadType":"json","topic":"","x":410,"y":300,"wires":[["68f4687.70ba098"]]},{"id":"23f8aae0.b0ffd6","type":"ui_numeric","z":"e14ab7eb.c28038","name":"Humedad de activación","label":"Humedad de activación ","tooltip":"","group":"f52c3564.c71a98","order":5,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":550,"y":180,"wires":[["a9cb8121.6317"]]},{"id":"f2cd082f.77eaa8","type":"ui_led","z":"e14ab7eb.c28038","group":"f52c3564.c71a98","order":19,"width":5,"height":1,"label":"Bomba de riego","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Led riego","x":560,"y":120,"wires":[]},{"id":"69135970.e412e8","type":"link out","z":"cc7d5fff.1afeb","name":"","links":["c0772f7.c3619d"],"x":475,"y":300,"wires":[]},{"id":"c0772f7.c3619d","type":"link in","z":"e14ab7eb.c28038","name":"","links":["69135970.e412e8"],"x":435,"y":120,"wires":[["f2cd082f.77eaa8"]]},{"id":"357e123b.4f99ae","type":"ui_numeric","z":"e14ab7eb.c28038","name":"","label":"Tiempo de riego","tooltip":"","group":"f52c3564.c71a98","order":8,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"300","step":1,"x":520,"y":240,"wires":[["ec7f41ec.b8ee8"]]},{"id":"26a71e40.961d62","type":"link out","z":"aeeef631.c47298","name":"","links":["d0e9b786.907b08"],"x":435,"y":300,"wires":[]},{"id":"d0e9b786.907b08","type":"link in","z":"e14ab7eb.c28038","name":"","links":["26a71e40.961d62"],"x":415,"y":60,"wires":[["8a927b3a.acf898"]]},{"id":"988ededd.e78a","type":"ui_button","z":"e14ab7eb.c28038","name":"","group":"f52c3564.c71a98","order":15,"width":4,"height":1,"passthru":true,"label":"Apagar","tooltip":"","color":"","bgcolor":"red","icon":"fa-ban","payload":"{\"control\":\"riego\",\"valores\":{\"humSueloMin\":0,\"tiempoRiego\":0}}","payloadType":"json","topic":"","x":500,"y":360,"wires":[["c4d10c5c.7e2b8"]]},{"id":"c6be7b1d.ebae28","type":"mqtt in","z":"b553000d.f0e5f","name":"","topic":"invernadero1/riego","qos":"2","datatype":"json","broker":"9162a501.197ed8","x":170,"y":600,"wires":[["3d2547bb.59f068"]]},{"id":"b27845d8.df2618","type":"link out","z":"b553000d.f0e5f","name":"","links":["971f0e97.94791"],"x":755,"y":560,"wires":[]},{"id":"8aab97fd.507b48","type":"mqtt out","z":"b553000d.f0e5f","name":"","topic":"invernadero1/riego","qos":"2","retain":"true","broker":"9162a501.197ed8","x":330,"y":1080,"wires":[]},{"id":"b3e67b16.b78478","type":"inject","z":"b553000d.f0e5f","name":"","topic":"","payload":"{\"id\":\"riego\",\"valores\":{\"humSueloMin\":0,\"tiempoRiego\":0}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1080,"wires":[["8aab97fd.507b48"]]},{"id":"a9cb8121.6317","type":"function","z":"e14ab7eb.c28038","name":"flow humSueloMin","func":"flow.set(\"humSueloMin\",msg.payload)","outputs":0,"noerr":0,"x":790,"y":180,"wires":[]},{"id":"ec7f41ec.b8ee8","type":"function","z":"e14ab7eb.c28038","name":"flow humedadSueloMin","func":"flow.set(\"tiempoRiego\",msg.payload)","outputs":0,"noerr":0,"x":790,"y":240,"wires":[]},{"id":"68f4687.70ba098","type":"function","z":"e14ab7eb.c28038","name":"Valores control riego","func":"msg.payload.valores.humSueloMin = flow.get(\"humSueloMin\");\nmsg.payload.valores.tiempoRiego = flow.get(\"tiempoRiego\");\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["c4d10c5c.7e2b8"]]},{"id":"c4d10c5c.7e2b8","type":"mqtt out","z":"e14ab7eb.c28038","name":"","topic":"invernadero1/riego","qos":"2","retain":"true","broker":"9162a501.197ed8","x":870,"y":340,"wires":[]},{"id":"15cfa1b0.0d452e","type":"mqtt in","z":"b553000d.f0e5f","name":"","topic":"invernadero1/climatizacion","qos":"2","datatype":"json","broker":"9162a501.197ed8","x":190,"y":720,"wires":[["d69bd93f.974058"]]},{"id":"4b5d9b35.3b5ef4","type":"link out","z":"b553000d.f0e5f","name":"","links":["a4de5839.d8f858"],"x":755,"y":680,"wires":[]},{"id":"1183029f.10abad","type":"mqtt out","z":"b553000d.f0e5f","name":"","topic":"invernadero1/climatizacion","qos":"2","retain":"true","broker":"9162a501.197ed8","x":360,"y":1140,"wires":[]},{"id":"a9e3ede6.d0ce5","type":"inject","z":"b553000d.f0e5f","name":"","topic":"","payload":"{\"id\":\"climatizacion\",\"valores\":{\"tempMin\":10,\"tempObj\":20,\"tempMax\":40,\"humMin\":40,\"humMax\":70}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["1183029f.10abad"]]},{"id":"a4de5839.d8f858","type":"link in","z":"e14ab7eb.c28038","name":"","links":["4b5d9b35.3b5ef4"],"x":75,"y":740,"wires":[["1986502a.5e403"]]},{"id":"1986502a.5e403","type":"function","z":"e14ab7eb.c28038","name":"Extracción control climatización","func":"var tempMin = { payload: msg.payload.tempMin};\nflow.set(\"tempMin\",msg.payload.tempMin);\nvar tempObj = { payload: msg.payload.tempObj};\nflow.set(\"tempObj\",msg.payload.tempObj);\nvar tempMax = { payload: msg.payload.tempMax};\nflow.set(\"tempMax\",msg.payload.tempMax);\nvar humMin = { payload: msg.payload.humMin};\nflow.set(\"humMin\",msg.payload.humMin);\nvar humMax = { payload: msg.payload.humMax};\nflow.set(\"humMax\",msg.payload.humMax);\nreturn [tempMin, tempObj, tempMax, humMin, humMax];\n","outputs":5,"noerr":0,"x":250,"y":740,"wires":[["893f9233.deaf2"],["48d3fd8a.162a24"],["441a2b99.bf63a4"],["1b004cc3.40e993"],["aa0a30ad.5a84f"]]},{"id":"a7b93a36.1b1fd8","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":21,"width":3,"height":1,"name":"Humedad interior","label":"<font size=5>Interior</font>","format":"<font color=snow size=5>{{msg.payload}}</font>","layout":"row-spread","x":570,"y":500,"wires":[]},{"id":"37351712.dd0f58","type":"ui_button","z":"e14ab7eb.c28038","name":"","group":"83408eb1.e2ac","order":34,"width":4,"height":1,"passthru":false,"label":"Enviar datos","tooltip":"","color":"","bgcolor":"","icon":"fa-check-square-o","payload":"{\"control\":\"climatizacion\",\"valores\":{\"tempMin\":0,\"tempObj\":0,\"tempMax\":0,\"humdMin\":0,\"humMax\":0}}","payloadType":"json","topic":"","x":370,"y":1000,"wires":[["69166cda.8cb4a4"]]},{"id":"893f9233.deaf2","type":"ui_numeric","z":"e14ab7eb.c28038","name":"Temperatura mínima","label":"Mínima","tooltip":"Tiene que se menor en 6ºC a la temperatura máxima","group":"83408eb1.e2ac","order":10,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"34","step":"0.5","x":560,"y":660,"wires":[["8f287df3.30fc6"]]},{"id":"e7f03cb4.0ddd2","type":"ui_led","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":36,"width":4,"height":1,"label":"Ventilación","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Led ventilación","x":520,"y":600,"wires":[]},{"id":"6b8cf80b.1b36a8","type":"link in","z":"e14ab7eb.c28038","name":"","links":["76148ba1.d46244"],"x":395,"y":600,"wires":[["e7f03cb4.0ddd2"]]},{"id":"48d3fd8a.162a24","type":"ui_numeric","z":"e14ab7eb.c28038","name":"Temperatura objetivo","label":"Objetivo","tooltip":"Tiene que estar distanciado en 3ºC a los valores mínimo y máximo","group":"83408eb1.e2ac","order":12,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"3","max":"37","step":"0.5","x":560,"y":720,"wires":[["8ac4f678.1c35a8"]]},{"id":"4877fad7.0965d4","type":"link in","z":"e14ab7eb.c28038","name":"","links":["8c8b0b02.8c0f88"],"x":435,"y":500,"wires":[["a7b93a36.1b1fd8"]]},{"id":"3e3fae7d.f91312","type":"ui_button","z":"e14ab7eb.c28038","name":"","group":"83408eb1.e2ac","order":39,"width":4,"height":1,"passthru":true,"label":"Apagar","tooltip":"","color":"","bgcolor":"red","icon":"fa-ban","payload":"{\"control\":\"climatizacion\",\"valores\":{\"tempMin\":0,\"tempObj\":20,\"tempMax\":40,\"humMin\":0,\"humMax\":100}}","payloadType":"json","topic":"","x":460,"y":1060,"wires":[["4080e947.638348"]]},{"id":"8f287df3.30fc6","type":"function","z":"e14ab7eb.c28038","name":"flow tempMin","func":"if (msg.payload <= flow.get(\"tempMax\")-6) {\n    flow.set(\"tempMin\",msg.payload);\n} else {\n    flow.set(\"tempMin\",flow.get(\"tempMax\")-6);\n}\nif (flow.get(\"tempObj\") < msg.payload+3) {\n    flow.set(\"tempObj\",msg.payload+3);\n}\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = flow.get(\"tempMin\");\nmsg2.payload = flow.get(\"tempObj\");\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":770,"y":660,"wires":[["893f9233.deaf2"],["48d3fd8a.162a24"]]},{"id":"8ac4f678.1c35a8","type":"function","z":"e14ab7eb.c28038","name":"flow tempObj","func":"flow.set(\"tempObj\",msg.payload)\nif ((msg.payload >= flow.get(\"tempMin\")+3) && (msg.payload <= flow.get(\"tempMax\")-3)) {\n    flow.set(\"tempObj\",msg.payload);\n} else if (msg.payload < flow.get(\"tempMin\")+3) {\n    flow.set(\"tempObj\",flow.get(\"tempMin\")+3);\n} else {\n    flow.set(\"tempObj\",flow.get(\"tempMax\")-3);\n}\nmsg.payload = flow.get(\"tempObj\");\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":720,"wires":[["48d3fd8a.162a24"]]},{"id":"69166cda.8cb4a4","type":"function","z":"e14ab7eb.c28038","name":"Valores control climatización","func":"msg.payload.valores.tempMin = flow.get(\"tempMin\");\nmsg.payload.valores.tempObj = flow.get(\"tempObj\");\nmsg.payload.valores.tempMax = flow.get(\"tempMax\");\nmsg.payload.valores.humMin = flow.get(\"humMin\");\nmsg.payload.valores.humMax = flow.get(\"humMax\");\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1000,"wires":[["4080e947.638348"]]},{"id":"4080e947.638348","type":"mqtt out","z":"e14ab7eb.c28038","name":"","topic":"invernadero1/climatizacion","qos":"2","retain":"true","broker":"9162a501.197ed8","x":900,"y":1060,"wires":[]},{"id":"511a7af1.c8bce4","type":"link out","z":"aeeef631.c47298","name":"","links":["5fba6ba.3431e94"],"x":415,"y":20,"wires":[]},{"id":"87ce634.c47dca","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":5,"width":4,"height":1,"name":"Temperatura interior","label":"<font size=5>Interior</font>","format":"<font color=snow size=5>{{msg.payload}}</font>","layout":"row-spread","x":580,"y":420,"wires":[]},{"id":"5fba6ba.3431e94","type":"link in","z":"e14ab7eb.c28038","name":"","links":["511a7af1.c8bce4"],"x":435,"y":420,"wires":[["87ce634.c47dca"]]},{"id":"8c8b0b02.8c0f88","type":"link out","z":"aeeef631.c47298","name":"","links":["4877fad7.0965d4"],"x":415,"y":240,"wires":[]},{"id":"67ba5bde.2dab94","type":"ui_led","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":41,"width":4,"height":1,"label":"Calefacción","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Led calefacción","x":780,"y":600,"wires":[]},{"id":"fc41462e.e48598","type":"link in","z":"e14ab7eb.c28038","name":"","links":["a98e94cf.90eef8"],"x":655,"y":600,"wires":[["67ba5bde.2dab94"]]},{"id":"1eb6a50b.7d33cb","type":"ui_led","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":44,"width":4,"height":1,"label":"Refrigeración","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"100","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Led refrigeración","x":1030,"y":600,"wires":[]},{"id":"b80746b6.29a288","type":"link in","z":"e14ab7eb.c28038","name":"","links":["211545fd.fd559a"],"x":895,"y":600,"wires":[["1eb6a50b.7d33cb"]]},{"id":"76148ba1.d46244","type":"link out","z":"d8e60713.1e16d8","name":"","links":["6b8cf80b.1b36a8"],"x":440,"y":200,"wires":[]},{"id":"a98e94cf.90eef8","type":"link out","z":"d8e60713.1e16d8","name":"","links":["fc41462e.e48598"],"x":435,"y":440,"wires":[]},{"id":"211545fd.fd559a","type":"link out","z":"d8e60713.1e16d8","name":"","links":["b80746b6.29a288"],"x":455,"y":680,"wires":[]},{"id":"441a2b99.bf63a4","type":"ui_numeric","z":"e14ab7eb.c28038","name":"Temperatura máxima","label":"Máxima","tooltip":"Tiene que se superior en 6ºC a la temperatura mínima","group":"83408eb1.e2ac","order":14,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"6","max":"40","step":"0.5","x":560,"y":800,"wires":[["3e37aeb7.33acd2"]]},{"id":"3e37aeb7.33acd2","type":"function","z":"e14ab7eb.c28038","name":"flow tempMax","func":"if (msg.payload >= flow.get(\"tempMin\")+6) {\n    flow.set(\"tempMax\",msg.payload);\n} else {\n    flow.set(\"tempMax\",flow.get(\"tempMin\")+6);\n}\nif (flow.get(\"tempObj\") > msg.payload-3) {\n    flow.set(\"tempObj\",msg.payload-3);\n}\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = flow.get(\"tempObj\");\nmsg2.payload = flow.get(\"tempMax\");\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":780,"y":800,"wires":[["48d3fd8a.162a24"],["441a2b99.bf63a4"]]},{"id":"1b004cc3.40e993","type":"ui_numeric","z":"e14ab7eb.c28038","name":"Humedad mínima","label":"Mínima","tooltip":"Tiene que se menor en un 10% a la humedad máxima","group":"83408eb1.e2ac","order":28,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":550,"y":860,"wires":[["e7884585.97e288"]]},{"id":"e7884585.97e288","type":"function","z":"e14ab7eb.c28038","name":"flow humMin","func":"if (msg.payload <= flow.get(\"humMax\")-10) {\n    flow.set(\"humMin\",msg.payload);\n} else {\n    flow.set(\"humMin\",flow.get(\"humMax\")-10);\n}\nmsg.payload = flow.get(\"humMin\");\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":860,"wires":[["1b004cc3.40e993"]]},{"id":"aa0a30ad.5a84f","type":"ui_numeric","z":"e14ab7eb.c28038","name":"Humeda máxima","label":"Máxima","tooltip":"Tiene que se superior en un 10% a la humedad mínima","group":"83408eb1.e2ac","order":30,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":550,"y":920,"wires":[["a16117da.252718"]]},{"id":"a16117da.252718","type":"function","z":"e14ab7eb.c28038","name":"flow humMax","func":"if (msg.payload >= flow.get(\"humMin\")+10) {\n    flow.set(\"humMax\",msg.payload);\n} else {\n    flow.set(\"humMax\",flow.get(\"humMin\")+10);\n}\nmsg.payload = flow.get(\"humMax\");\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":920,"wires":[["aa0a30ad.5a84f"]]},{"id":"e5e3f9dd.2bd268","type":"influxdb out","z":"b553000d.f0e5f","influxdb":"80f5205a.24249","name":"","measurement":"interior","precision":"s","retentionPolicy":"","x":910,"y":120,"wires":[]},{"id":"e90eb35b.2fef9","type":"influxdb out","z":"b553000d.f0e5f","influxdb":"80f5205a.24249","name":"","measurement":"deposito","precision":"s","retentionPolicy":"","x":910,"y":360,"wires":[]},{"id":"85f4c0a.5ba234","type":"influxdb out","z":"b553000d.f0e5f","influxdb":"80f5205a.24249","name":"","measurement":"climatizador","precision":"s","retentionPolicy":"","x":920,"y":480,"wires":[]},{"id":"3a2767b7.b3a928","type":"influxdb out","z":"b553000d.f0e5f","influxdb":"80f5205a.24249","name":"","measurement":"riego","precision":"s","retentionPolicy":"","x":910,"y":600,"wires":[]},{"id":"ea5755b0.747718","type":"influxdb out","z":"b553000d.f0e5f","influxdb":"80f5205a.24249","name":"","measurement":"climatizacion","precision":"s","retentionPolicy":"","x":910,"y":720,"wires":[]},{"id":"b18a3ec4.433f4","type":"link in","z":"3041ddb.0b1c522","name":"","links":["4f3aed92.d6e134"],"x":175,"y":220,"wires":[["4c77e7f9.590568","3856dc52.7cc494"]]},{"id":"3f71aeca.1a5f42","type":"link in","z":"3041ddb.0b1c522","name":"","links":["9466e94f.1a5428"],"x":175,"y":580,"wires":[["21985e24.301b02","8b273222.a722f"]]},{"id":"929c7039.3cb21","type":"link in","z":"3041ddb.0b1c522","name":"","links":["74085402.dd008c"],"x":175,"y":780,"wires":[["7e3afcac.dc2c54","78205e15.93b43"]]},{"id":"5d1a01e2.91f98","type":"speedtest","z":"3041ddb.0b1c522","name":"","maxTime":5000,"x":1140,"y":160,"wires":[["3fda6cb.a6e1894","5be676c7.f68908","cd40ef2a.e8e58"]]},{"id":"3bb2fbe9.2e28c4","type":"ui_button","z":"3041ddb.0b1c522","name":"","group":"4c87d359.b035dc","order":6,"width":5,"height":1,"passthru":false,"label":"Actualizar información","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":920,"y":160,"wires":[["5d1a01e2.91f98"]]},{"id":"3fda6cb.a6e1894","type":"ui_text","z":"3041ddb.0b1c522","group":"4c87d359.b035dc","order":1,"width":7,"height":1,"name":"Velocidad de bajada","label":"<font size=4>Velocidad de bajada</font>","format":"<font color =snow size=4>{{msg.payload.speeds.download}}</font>","layout":"row-spread","x":1380,"y":120,"wires":[]},{"id":"5be676c7.f68908","type":"ui_text","z":"3041ddb.0b1c522","group":"4c87d359.b035dc","order":2,"width":7,"height":1,"name":"Velocidad de subida","label":"<font  size=4>Velocidad de subida</font>","format":"<font color =snow size=4>{{msg.payload.speeds.upload}}</font>","layout":"row-spread","x":1380,"y":180,"wires":[]},{"id":"cd40ef2a.e8e58","type":"ui_text","z":"3041ddb.0b1c522","group":"4c87d359.b035dc","order":3,"width":7,"height":1,"name":"IP de salida","label":"<font size=4>IP de salida</font>","format":"<font color =snow size=4>{{msg.payload.client.ip}}</font>","layout":"row-spread","x":1350,"y":240,"wires":[]},{"id":"e60648e1.5b2e88","type":"status","z":"3041ddb.0b1c522","name":"","scope":["5d1a01e2.91f98"],"x":1100,"y":320,"wires":[["5ae657.384d19a8"]]},{"id":"5ae657.384d19a8","type":"ui_text","z":"3041ddb.0b1c522","group":"4c87d359.b035dc","order":9,"width":5,"height":1,"name":"estado","label":"","format":"{{msg.status.text}}","layout":"row-center","x":1270,"y":320,"wires":[]},{"id":"5a472978.dda298","type":"mqtt in","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/exterior","qos":"2","datatype":"json","broker":"9162a501.197ed8","x":160,"y":240,"wires":[["133eb58.93f494b","f7fee7d7.ba5818"]]},{"id":"255428ef.bd6888","type":"influxdb out","z":"b553000d.f0e5f","influxdb":"80f5205a.24249","name":"","measurement":"exterior","precision":"s","retentionPolicy":"","x":910,"y":240,"wires":[]},{"id":"aa5a8d51.e7fc2","type":"inject","z":"b553000d.f0e5f","name":"","topic":"","payload":"{\"id\":\"deposito\",\"signal\":-61,\"mediciones\":{\"cantidadAgua\":1.2,\"tempAgua\":16.2,\"bombaActivada\":100}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":960,"wires":[["e565a38.cb2e56"]]},{"id":"8073c21f.79cc5","type":"mqtt out","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/exterior","qos":"2","retain":"true","broker":"9162a501.197ed8","x":360,"y":900,"wires":[]},{"id":"e637b798.57a408","type":"inject","z":"b553000d.f0e5f","name":"","topic":"","payload":"{\"id\":\"exterior\",\"signal\":-62,\"mediciones\":{\"tempExt\":15.2,\"humExt\":32,\"puertaAbierta\":false}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":900,"wires":[["8073c21f.79cc5"]]},{"id":"b909adc.9e27e5","type":"link out","z":"b553000d.f0e5f","name":"","links":["86944697.de1a08"],"x":755,"y":200,"wires":[]},{"id":"50dddc.eebbb224","type":"link in","z":"3041ddb.0b1c522","name":"","links":["f7fee7d7.ba5818"],"x":175,"y":380,"wires":[["b06f0287.34dea","20a0f1c0.798fee"]]},{"id":"afc03b48.513318","type":"function","z":"9de00e60.77869","name":"Extracción puerta","func":"var puerta = { payload: msg.payload.puerta};\nreturn puerta;\n","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["5b7ad5ea.794e5c"]]},{"id":"5b7ad5ea.794e5c","type":"change","z":"9de00e60.77869","name":"Abierta/cerrada","rules":[{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"Abierta","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Cerrada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["fe8a9f7.949186"]]},{"id":"fe8a9f7.949186","type":"ui_text","z":"9de00e60.77869","group":"e763e709.7320f8","order":1,"width":6,"height":1,"name":"Puerta","label":"","format":"<font color =beige  size=6>{{msg.payload}}</font>","layout":"col-center","x":790,"y":380,"wires":[]},{"id":"97a50f86.d70e9","type":"ui_chart","z":"9de00e60.77869","name":"","group":"b51c6ce9.b1f66","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":140,"wires":[[]]},{"id":"4483f3ba.57af9c","type":"ui_text","z":"9de00e60.77869","group":"b51c6ce9.b1f66","order":2,"width":2,"height":1,"name":"Temperatura exterior","label":"","format":"<font color =snow size=6>{{msg.payload}}</font>","layout":"col-center","x":640,"y":180,"wires":[]},{"id":"89a584b5.7c7c88","type":"ui_text","z":"9de00e60.77869","group":"d6d2f845.51c478","order":2,"width":2,"height":1,"name":"Humedad exterior","label":"","format":"<font color =snow size=6>{{msg.payload}}</font>","layout":"col-center","x":630,"y":220,"wires":[]},{"id":"86944697.de1a08","type":"link in","z":"9de00e60.77869","name":"","links":["b909adc.9e27e5"],"x":175,"y":260,"wires":[["de7feda2.bdd08","afc03b48.513318"]]},{"id":"de7feda2.bdd08","type":"function","z":"9de00e60.77869","name":"Extracción Temp/Hum","func":"var tempExt = { payload: msg.payload.tempExt};\nvar humExt = { payload: msg.payload.humExt};\nreturn [tempExt, humExt];\n","outputs":2,"noerr":0,"x":340,"y":200,"wires":[["4483f3ba.57af9c","97a50f86.d70e9","461e253a.f22b5c"],["89a584b5.7c7c88","4414d83a.baa9b8","68f82648.b0c968"]]},{"id":"4414d83a.baa9b8","type":"ui_chart","z":"9de00e60.77869","name":"","group":"d6d2f845.51c478","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":260,"wires":[[]]},{"id":"6983b3a.dfeec4c","type":"ui_chart","z":"aeeef631.c47298","name":"","group":"f12b2a2d.d34368","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":200,"wires":[[]]},{"id":"4d2c081f.f468a8","type":"ui_chart","z":"aeeef631.c47298","name":"","group":"d95b1535.209a28","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":80,"wires":[[]]},{"id":"ae0ea5cb.c75798","type":"ui_chart","z":"aeeef631.c47298","name":"","group":"44634e5.51220b","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":360,"wires":[[]]},{"id":"edd2ea1d.f299f8","type":"function","z":"b553000d.f0e5f","name":"Mediciones to payload","func":"var msgout= {};\nmsgout.payload = msg.payload.mediciones;\nreturn msgout;","outputs":1,"noerr":0,"x":600,"y":120,"wires":[["8f20998e.2cebd8","e5e3f9dd.2bd268"]]},{"id":"4f3aed92.d6e134","type":"link out","z":"b553000d.f0e5f","name":"","links":["b18a3ec4.433f4"],"x":355,"y":80,"wires":[]},{"id":"531d2fc2.1f8db","type":"function","z":"b553000d.f0e5f","name":"Mediciones to payload","func":"var msgout= {};\nmsgout.payload = msg.payload.mediciones;\nreturn msgout;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["b909adc.9e27e5","255428ef.bd6888"]]},{"id":"f7fee7d7.ba5818","type":"link out","z":"b553000d.f0e5f","name":"","links":["50dddc.eebbb224"],"x":355,"y":200,"wires":[]},{"id":"d277aeed.55f1b","type":"function","z":"b553000d.f0e5f","name":"Mediciones to payload","func":"var msgout= {};\nmsgout.payload = msg.payload.mediciones;\nreturn msgout;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["f3120d41.0b77e","e90eb35b.2fef9"]]},{"id":"e1460389.bd6a8","type":"function","z":"b553000d.f0e5f","name":"Mediciones to payload","func":"var msgout= {};\nmsgout.payload = msg.payload.mediciones;\nflow.set(\"ventilacion\",msgout.payload.ventilacion);\nflow.set(\"calefaccion\",msgout.payload.calefaccion);\nflow.set(\"refrigeracion\",msgout.payload.refrigeracion);\nreturn msgout;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["95213504.d56328","85f4c0a.5ba234"]]},{"id":"9466e94f.1a5428","type":"link out","z":"b553000d.f0e5f","name":"","links":["3f71aeca.1a5f42"],"x":355,"y":320,"wires":[]},{"id":"74085402.dd008c","type":"link out","z":"b553000d.f0e5f","name":"","links":["929c7039.3cb21"],"x":355,"y":440,"wires":[]},{"id":"3d2547bb.59f068","type":"function","z":"b553000d.f0e5f","name":"Valores to payload","func":"var msgout= {};\nmsgout.payload = msg.payload.valores;\nflow.set(\"humSueloMin\",msgout.payload.humSueloMin);\nflow.set(\"tiempoRiego\",msgout.payload.tiempoRiego);\nreturn msgout;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["b27845d8.df2618","3a2767b7.b3a928"]]},{"id":"d69bd93f.974058","type":"function","z":"b553000d.f0e5f","name":"Valores to payload","func":"var msgout= {};\nmsgout.payload = msg.payload.valores;\nflow.set(\"tempMin\",msgout.payload.tempMin);\nflow.set(\"tempObj\",msgout.payload.tempObj);\nflow.set(\"tempMax\",msgout.payload.tempMax);\nflow.set(\"humMin\",msgout.payload.humMin);\nflow.set(\"humMax\",msgout.payload.humMax);\nreturn msgout;","outputs":1,"noerr":0,"x":530,"y":720,"wires":[["4b5d9b35.3b5ef4","ea5755b0.747718"]]},{"id":"4bd76f41.8730e","type":"ui_text","z":"aeeef631.c47298","group":"d95b1535.209a28","order":3,"width":2,"height":1,"name":"Unidades ºC","label":"<font color =snow size=6>ºC</font>","format":"{{msg.payload}}","layout":"row-left","x":730,"y":120,"wires":[]},{"id":"72f6cde0.017354","type":"ui_text","z":"aeeef631.c47298","group":"f12b2a2d.d34368","order":3,"width":2,"height":1,"name":"Unidades %","label":"<font color =snow size=6>%</font>","format":"{{msg.payload}}","layout":"row-left","x":730,"y":160,"wires":[]},{"id":"853d263.dc850d8","type":"ui_text","z":"aeeef631.c47298","group":"44634e5.51220b","order":3,"width":2,"height":1,"name":"Unidades %","label":"<font color =snow size=6>%</font>","format":"{{msg.payload}}","layout":"row-left","x":810,"y":320,"wires":[]},{"id":"3a16fa82.2d99d6","type":"ui_text","z":"9de00e60.77869","group":"b51c6ce9.b1f66","order":3,"width":2,"height":1,"name":"Unidades ºC","label":"<font color =snow size=6>ºC</font>","format":"{{msg.payload}}","layout":"row-left","x":830,"y":180,"wires":[]},{"id":"80f3a965.ec3da8","type":"ui_text","z":"9de00e60.77869","group":"d6d2f845.51c478","order":3,"width":2,"height":1,"name":"Unidades %","label":"<font color =snow size=6>%</font>","format":"{{msg.payload}}","layout":"row-left","x":830,"y":220,"wires":[]},{"id":"c28d96f1.0ea2e8","type":"ui_text","z":"cc7d5fff.1afeb","group":"3e3137d.14f43c8","order":3,"width":2,"height":1,"name":"Unidades ºC","label":"<font color =snow size=6>ºC</font>","format":"{{msg.payload}}","layout":"row-left","x":790,"y":220,"wires":[]},{"id":"54378a2d.3ef1d4","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":6,"width":1,"height":1,"name":"Unidades ºC","label":"<font color =snow size=5>ºC</font>","format":"{{msg.payload}}","layout":"row-left","x":790,"y":420,"wires":[]},{"id":"ab6cf39.0e7a81","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":22,"width":1,"height":1,"name":"Unidades %","label":"<font color =snow size=5>%</font>","format":"{{msg.payload}}","layout":"row-left","x":790,"y":500,"wires":[]},{"id":"5966aa10.761a04","type":"ui_text","z":"e14ab7eb.c28038","group":"f52c3564.c71a98","order":3,"width":2,"height":1,"name":"Unidades %","label":"<font color =snow size=5>%</font>","format":"{{msg.payload}}","layout":"row-left","x":730,"y":60,"wires":[]},{"id":"d847f317.5737c","type":"ui_text","z":"e14ab7eb.c28038","group":"f52c3564.c71a98","order":6,"width":1,"height":1,"name":"Unidades %","label":"%","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":180,"wires":[]},{"id":"633b37c4.d121b8","type":"ui_text","z":"e14ab7eb.c28038","group":"f52c3564.c71a98","order":9,"width":2,"height":1,"name":"Unidades segundos","label":"segundos","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":240,"wires":[]},{"id":"c326ae8.6270e5","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":2,"width":3,"height":1,"name":"Señal","label":"<font size=4>Señal (dBm)</font>","format":"{{msg.payload}}","layout":"row-right","x":390,"y":60,"wires":[]},{"id":"3856dc52.7cc494","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":6,"width":3,"height":1,"name":"Interior señal","label":"","format":"<font color =snow>{{msg.payload.signal}}</font>","layout":"row-center","x":350,"y":180,"wires":[]},{"id":"edb109b3.bd9968","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":11,"width":4,"height":1,"name":"Exterior mensaje","label":"","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":630,"y":420,"wires":[]},{"id":"cc9ffc33.23e63","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":15,"width":4,"height":1,"name":"Depósito mensaje","label":"","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":630,"y":620,"wires":[]},{"id":"c1e5b5c1.d4bc08","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":19,"width":4,"height":1,"name":"Climatizador mensaje","label":"","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":640,"y":820,"wires":[]},{"id":"d70375b5.1b7218","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":22,"width":10,"height":1,"name":"Espaciador","label":"","format":"{{msg.payload}}","layout":"row-right","x":790,"y":60,"wires":[]},{"id":"bb52435b.adbe9","type":"ui_chart","z":"cc7d5fff.1afeb","name":"","group":"c0db3fe.7fd9dc","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":420,"wires":[[]]},{"id":"45c14053.dac03","type":"ui_chart","z":"d8e60713.1e16d8","name":"","group":"4cc40c37.f357e4","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":320,"wires":[[]]},{"id":"aa3c48a9.b42da8","type":"ui_chart","z":"d8e60713.1e16d8","name":"","group":"59d420.6e8cfbe","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":560,"wires":[[]]},{"id":"1a1949ec.ae5436","type":"ui_chart","z":"d8e60713.1e16d8","name":"","group":"e0a029da.07eff8","order":5,"width":6,"height":5,"label":"Últimas 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":800,"wires":[[]]},{"id":"4c77e7f9.590568","type":"moment","z":"3041ddb.0b1c522","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss (DD/MM/YY)","locale":"es_ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":380,"y":240,"wires":[["4cab4182.8536b"]]},{"id":"61fc7c6f.c3f634","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":4,"width":4,"height":1,"name":"último mensaje","label":"<font size=4>Último mensaje</font>","format":"{{msg.payload}}","layout":"row-left","x":580,"y":60,"wires":[]},{"id":"a580b527.5aacd8","type":"mqtt in","z":"b553000d.f0e5f","name":"","topic":"invernadero1/estado/interior","qos":"2","datatype":"json","broker":"9162a501.197ed8","x":160,"y":120,"wires":[["d4c3d6f2.7aedc8","4f3aed92.d6e134"]]},{"id":"4cab4182.8536b","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":7,"width":4,"height":1,"name":"Interior mensaje","label":"","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":620,"y":240,"wires":[]},{"id":"20a0f1c0.798fee","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":10,"width":3,"height":1,"name":"Exterior señal","label":"","format":"<font color =snow>{{msg.payload.signal}}</font>","layout":"row-center","x":360,"y":340,"wires":[]},{"id":"b06f0287.34dea","type":"moment","z":"3041ddb.0b1c522","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss (DD/MM/YY)","locale":"es_ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":380,"y":420,"wires":[["edb109b3.bd9968"]]},{"id":"8b273222.a722f","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":14,"width":3,"height":1,"name":"Depósito señal","label":"","format":"<font color =snow>{{msg.payload.signal}}</font>","layout":"row-center","x":360,"y":540,"wires":[]},{"id":"21985e24.301b02","type":"moment","z":"3041ddb.0b1c522","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss (DD/MM/YY)","locale":"es_ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":380,"y":620,"wires":[["cc9ffc33.23e63"]]},{"id":"78205e15.93b43","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":18,"width":3,"height":1,"name":"Climatizador señal","label":"","format":"<font color =snow>{{msg.payload.signal}}</font>","layout":"row-center","x":370,"y":740,"wires":[]},{"id":"7e3afcac.dc2c54","type":"moment","z":"3041ddb.0b1c522","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss (DD/MM/YY)","locale":"es_ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":380,"y":820,"wires":[["c1e5b5c1.d4bc08"]]},{"id":"d4c3d6f2.7aedc8","type":"switch","z":"b553000d.f0e5f","name":"","property":"payload.signal","propertyType":"msg","rules":[{"t":"eq","v":"desconectado","vt":"str"},{"t":"neq","v":"desconectado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":120,"wires":[["8f20998e.2cebd8","9554f054.769f4"],["edd2ea1d.f299f8"]]},{"id":"133eb58.93f494b","type":"switch","z":"b553000d.f0e5f","name":"","property":"payload.signal","propertyType":"msg","rules":[{"t":"eq","v":"desconectado","vt":"str"},{"t":"neq","v":"desconectado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":240,"wires":[["b909adc.9e27e5","779abac6.290e74"],["531d2fc2.1f8db"]]},{"id":"332e31ce.899eee","type":"switch","z":"b553000d.f0e5f","name":"","property":"payload.signal","propertyType":"msg","rules":[{"t":"eq","v":"desconectado","vt":"str"},{"t":"neq","v":"desconectado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":360,"wires":[["f3120d41.0b77e","7ded9e36.ba483"],["d277aeed.55f1b"]]},{"id":"8ab41171.c8f1c","type":"switch","z":"b553000d.f0e5f","name":"","property":"payload.signal","propertyType":"msg","rules":[{"t":"eq","v":"desconectado","vt":"str"},{"t":"neq","v":"desconectado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":480,"wires":[["95213504.d56328","f50c9e12.3689"],["e1460389.bd6a8"]]},{"id":"d4115edb.4233b","type":"inject","z":"b553000d.f0e5f","name":"Timmer 24h (00:00)","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":220,"y":660,"wires":[["5b4bc80c.8205b8","f356b8f8.257c68","fc024947.706688"]]},{"id":"5b4bc80c.8205b8","type":"function","z":"b553000d.f0e5f","name":"get valores climatización","func":"var msgout= {};\nmsgout.payload = {};\nmsgout.payload.tempMin = flow.get(\"tempMin\");\nmsgout.payload.tempObj = flow.get(\"tempObj\");\nmsgout.payload.tempMax = flow.get(\"tempMax\");\nmsgout.payload.humMin = flow.get(\"humMin\");\nmsgout.payload.humMax = flow.get(\"humMax\");\nreturn msgout;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["ea5755b0.747718"]]},{"id":"f356b8f8.257c68","type":"function","z":"b553000d.f0e5f","name":"get valores riego","func":"var msgout= {};\nmsgout.payload = {};\nmsgout.payload.humSueloMin = flow.get(\"humSueloMin\");\nmsgout.payload.tiempoRiego = flow.get(\"tiempoRiego\");\nreturn msgout;","outputs":1,"noerr":0,"x":540,"y":640,"wires":[["3a2767b7.b3a928"]]},{"id":"fc9ecee0.da355","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":17,"width":5,"height":1,"name":"Climatizador","label":"<font size=5>Climatizador</font>","format":"","layout":"row-spread","x":110,"y":740,"wires":[]},{"id":"658f4cd5.2a0854","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":13,"width":5,"height":1,"name":"Depósito","label":"<font size=5>Depósito</font>","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":100,"y":540,"wires":[]},{"id":"cd2c12f1.a3519","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":9,"width":5,"height":1,"name":"Exterior","label":"<font size=5>Exterior</font>","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":100,"y":340,"wires":[]},{"id":"dddc4776.d5b3f8","type":"ui_text","z":"3041ddb.0b1c522","group":"69ac15e5.7a667c","order":5,"width":5,"height":1,"name":"Interior","label":"<font size=5>Interior</font>","format":"<font color =snow>{{msg.payload}}</font>","layout":"row-spread","x":100,"y":180,"wires":[]},{"id":"fc024947.706688","type":"function","z":"b553000d.f0e5f","name":"get valores climatizador","func":"var msgout= {};\nmsgout.payload = {};\nmsgout.payload.ventilacion = flow.get(\"ventilacion\");\nmsgout.payload.calefaccion = flow.get(\"calefaccion\");\nmsgout.payload.refrigeracion = flow.get(\"refrigeracion\");\nreturn msgout;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["85f4c0a.5ba234"]]},{"id":"896df145.94ea","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":9,"width":1,"height":1,"name":"Unidades ºC","label":"<font color =snow size=5>ºC</font>","format":"{{msg.payload}}","layout":"row-left","x":790,"y":460,"wires":[]},{"id":"c0f4741.2de7d88","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":8,"width":4,"height":1,"name":"Temperatura exterior","label":"<font size=5>Exterior</font>","format":"<font color=snow size=5>{{msg.payload}}</font>","layout":"row-spread","x":580,"y":460,"wires":[]},{"id":"b657965b.c92898","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":25,"width":1,"height":1,"name":"Unidades %","label":"<font color =snow size=5>%</font>","format":"{{msg.payload}}","layout":"row-left","x":790,"y":540,"wires":[]},{"id":"d28ee84c.df5a28","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":24,"width":3,"height":1,"name":"Humedad exterior","label":"<font size=5>Exterior</font>","format":"<font color=snow size=5>{{msg.payload}}</font>","layout":"row-spread","x":570,"y":540,"wires":[]},{"id":"461e253a.f22b5c","type":"link out","z":"9de00e60.77869","name":"","links":["14ebdd3.2fb8f23"],"x":555,"y":100,"wires":[]},{"id":"68f82648.b0c968","type":"link out","z":"9de00e60.77869","name":"","links":["f97ff3ab.295e2"],"x":555,"y":300,"wires":[]},{"id":"14ebdd3.2fb8f23","type":"link in","z":"e14ab7eb.c28038","name":"","links":["461e253a.f22b5c"],"x":435,"y":460,"wires":[["c0f4741.2de7d88"]]},{"id":"f97ff3ab.295e2","type":"link in","z":"e14ab7eb.c28038","name":"","links":["68f82648.b0c968"],"x":435,"y":540,"wires":[["d28ee84c.df5a28"]]},{"id":"892c5813.152a88","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":2,"width":6,"height":1,"name":"Temperatura ","label":"<font size=6>Temperatura</font>","format":"","layout":"row-spread","x":230,"y":440,"wires":[]},{"id":"ce6f4f75.aa2c7","type":"ui_text","z":"e14ab7eb.c28038","group":"83408eb1.e2ac","order":18,"width":6,"height":1,"name":"Humedad","label":"<font size=6>Humedad</font>","format":"","layout":"row-spread","x":220,"y":520,"wires":[]},{"id":"3fcb040f.c538ec","type":"link in","z":"e14ab7eb.c28038","name":"","links":["7ded9e36.ba483","9554f054.769f4"],"x":355,"y":360,"wires":[[]]},{"id":"9554f054.769f4","type":"link out","z":"b553000d.f0e5f","name":"","links":["3fcb040f.c538ec","a0fdcc1a.c00b7"],"x":515,"y":80,"wires":[]},{"id":"7ded9e36.ba483","type":"link out","z":"b553000d.f0e5f","name":"","links":["3fcb040f.c538ec"],"x":515,"y":320,"wires":[]},{"id":"a0fdcc1a.c00b7","type":"link in","z":"e14ab7eb.c28038","name":"","links":["779abac6.290e74","9554f054.769f4","f50c9e12.3689"],"x":315,"y":1060,"wires":[[]]},{"id":"779abac6.290e74","type":"link out","z":"b553000d.f0e5f","name":"","links":["a0fdcc1a.c00b7"],"x":520,"y":200,"wires":[]},{"id":"f50c9e12.3689","type":"link out","z":"b553000d.f0e5f","name":"","links":["a0fdcc1a.c00b7"],"x":515,"y":440,"wires":[]}]